   <div class="container p-4">
     <div class="row">
     <div class="col-md-6 navigate">
     <div class="nav-brand">shubh</div>
     <div type="button" class="btn btn-warning" data-toggle="collapse" data-target="#links" aria-control="links" aria-expanded="false">=</div>
     </div>
     </div>

     <div id="links" class="col-md-6 bg-light">
     <ul class="linkItem">
      <a href="/index"><li>Home</li></a>
      <a href="/login"><li>LogIn</li></a>
      <a href="/logout"><li>Logout</li></a>
      <a href="/create"><li>Create</li></a>
     </ul>
    </div>
   </div>